= table.column :email, sortable: true
= table.column :roles_count, sortable: true
= table.column :enabled_roles_count, sortable: true
= table.column :permissions_count, sortable: true
= table.column :enabled_permissions_count, sortable: true
= table.timestamps