.panel.panel-default
  .panel-heading
    .panel-title= Ecm::Rbac::Role.model_name.human(count: :other)
  %table.table.table-striped.table-condensed.table-hover
    = render_collection(@resource.roles, Ecm::Rbac::Role, as: :bootstrap_table) do |table|
      = table.column :identifier
      = table.column :actions do |resource|
        = link_to t('.show'), url_for(resource), class: 'btn btn-primary btn-xs'
  .panel-footer

.panel.panel-default
  .panel-heading
    .panel-title= Ecm::Rbac::Configuration.user_class.model_name.human(count: :other)
  %table.table.table-striped.table-condensed.table-hover
    = render_collection(@resource.users, Ecm::Rbac::Configuration.user_class.model_name, as: :bootstrap_table) do |table|
      = table.column :email
      = table.column :actions do |resource|
        = link_to t('.show'), url_for(resource), class: 'btn btn-primary btn-xs'
  .panel-footer